.musicListContainer {
    .list {
        display: flex;
        height: 330rpx;

        .listItem {
            margin-left: 20rpx;

            .musicItem {
                display: flex;
                margin: 10rpx 0rpx;
                align-items: center;
                height: 100rpx;

                .image {
                    width: 100rpx;
                    height: 100rpx;
                    margin-right: 20rpx;
                    border-radius: 15rpx;
                    position: relative;

                    .iconfont {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #fff;
                        opacity: 0.8;
                    }
                }

                .musicInfo {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    flex-grow: 1;
                    height: 100%;
                    border-bottom: .5rpx solid #ddd;

                    .title {
                        display: flex;
                        align-items: center;

                        .songName {
                            font-size: 25rpx;
                        }

                        .singer {
                            margin-left: 10rpx;
                            font-size: 20rpx;
                            color: #696969;
                        }
                    }

                    .disc {
                        margin-top: 10rpx;
                        font-size: 20rpx;
                        color: #696969;
                    }
                }

                .musicInfo:last-child {
                    border-bottom: none;
                }

            }



        }
    }
}